<div class="navbar-collapse collapse" id="collapsingNavbar">
    <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item active">
            <a class="nav-link" href="{{ path('homepage') }}" title="Back to the homepage">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('registration') }}" title="Register">Register an account</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('genre') }}" title="Find your movie by genre">Browse By Genre</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{ path('app_movie_latest') }}" title="Get all latest movies">Latest</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#" title="Add a new movie">Add a new movie</a>
        </li>
    </ul>
    <ul class="navbar-nav text-center">
        <li class="nav-item active"><a class="nav-link" href="./user-cart.html" title="Register or log in"><i class="fas fa-shopping-bag"></i></a></li>
        <li class="nav-item active"><a class="nav-link" href="#" title="Register or log in"><i class="fas fa-user"></i></a></li>
    </ul>
</div>